<carousel>
    <slide id="pic" class="carousel-fade">
        <img src="../../../assets/images/pu5.png" alt="first slide" style="width: 100vw; height: 100vh;">
        <div class="carousel-caption">
            <h1 class="font-weight-bold">Women are <span>JOYFUL</span> </h1>
            <p>Women's freedom is the sign of social freedom.</p>
        </div>
    </slide>
    <slide id="pic" class="carousel-fade">
        <img src="../../../assets/images/pu9.png" alt="second slide" style="width: 100vw; height: 100vh;">
        <div class="carousel-caption">
            <h1 class="font-weight-bold">Women are <span>BRAVE</span></h1>
            <p class="my-2 text-center">Educate a man and you educate an individual. Educate a woman and you educate a family.</p>
        </div>
    </slide>
    <slide id="pic" class="carousel-fade">
        <img src="../../../assets/images/pu2.png" alt="third slide" style="width: 100vw; height: 100vh;">
        <div class="carousel-caption">
            <h1 class="font-weight-bold">Women are <span>DEPENDABLE</span></h1>
            <p>A woman is the full circle. Within her is the power to create, nurture and transform.</p>
        </div>
    </slide>
    <slide id="pic" class="carousel-fade">
        <img src="../../../assets/images/pu14.png" alt="fourth slide" style="width: 100vw; height: 100vh;">
        <div class="carousel-caption">
            <h1 class="font-weight-bold">Women are <span>ARTISTIC</span></h1>
            <p>If women understood and exercised their power they could remake the world.</p>
        </div>
    </slide>
    <slide id="pic" class="carousel-fade">
        <img src="../../../assets/images/pu11.png" alt="fifth slide" style="width: 100vw; height: 100vh;">
        <div class="carousel-caption">
            <h1 class="font-weight-bold">Women are <span>ACTIVE</span></h1>
            <p>You may not control all the events that happen to you, but you can decide not to be reduced by them.</p>
        </div>
    </slide>
    <slide id="pic" class="carousel-fade">
        <img src="../../../assets/images/pu6.png" alt="sixth slide" style="width: 100vw; height: 100vh;">
        <div class="carousel-caption">
            <h1 class="font-weight-font">Women are <span>CONFIDENT</span></h1>
            <p>There is no limit to what we as women can accomplish.</p>
        </div>
    </slide>
    <slide id="pic" class="carousel-fade">
        <img src="../../../assets/images/pu15.png" alt="seventh slide" style="width: 100vw; height: 100vh;">
        <div class="carousel-caption">
            <h1 class="font-weight-bold">Women are <span>DETERMINED</span></h1>
            <p>If there's one thing I'm willing to bet on, it's myself.</p>
        </div>
    </slide>
    <slide id="pic" class="carousel-fade">
        <img src="../../../assets/images/pu13.png" alt="eighth slide" style="width: 100vw; height: 100vh;">
        <div class="carousel-caption">
            <h1 class="font-weight-bold">Women are <span>CREATIVE</span></h1>
            <p>Success is sexy.</p>
        </div>
    </slide>
    <slide id="pic" class="carousel-fade">
        <img src="../../../assets/images/pu4.png" alt="ninenth slide" style="width: 100vw;height: 100vh;">
        <div class="carousel-caption">
            <h1 class="font-weight-bold">Women are <span>BEAUTIFUL</span></h1>
            <p>Conquer from within.</p>
        </div>
    </slide>
    <slide id="pic" class="carousel-fade">
        <img src="../../../assets/images/pu7.png" alt="tenth slide" style="width: 100vw;height: 100vh;">
        <div class="carousel-caption">
            <h1 class="font-weight-font">Women are <span>COMMITTED</span></h1>
            <p>The question isn’t who’s going to let me; it’s who is going to stop me.
            </p>
        </div>
    </slide>
    
    <slide id="pic" class="carousel-fade">
        <img src="../../../assets/images/pu1.png" alt="eleventh slide" style="width: 100vw;height: 100vh;">
        <div class="carousel-caption">
            <h1 class="font-weight-bold">Women are <span>AMBITIOUS</span></h1>
            <p>We need to reshape our own perception of how we view ourselves. We have to step up as women and take the lead.</p>
        </div>
    </slide>
    <slide id="pic" class="carousel-fade">
        <img src="../../../assets/images/pu12.png" alt="twelveth slide" style="width: 100vw; height: 100vh;">
        <div class="carousel-caption">
            <h1 class="font-weight-bold">Women are <span>BRILLIANT</span></h1>
            <p>Keep shining, beautiful ones. The world needs your light.</p>
        </div>
    </slide>
    <slide id="pic" class="carousel-fade">
        <img src="../../../assets/images/pu16.png" alt="thirteenth slide" style="width: 100vw; height: 100vh;">
        <div class="carousel-caption">
            <h1 class="font-weight-bold">Women are <span>STRONG</span></h1>
            <p>A woman with a voice is, by definition, a strong woman.</p>
        </div>
    </slide>
    <slide id="pic" class="carousel-fade">
        <img src="../../../assets/images/pu10.png" alt="fouteenth slide" style="width: 100vw; height: 100vh;">
        <div class="carousel-caption">
            <h1 class="font-weight-bold">Women are <span>PERSISTENT</span></h1>
            <p>Women are the real architects of society.  </p>
        </div>
    </slide>
    <slide id="pic" class="carousel-fade">
        <img src="../../../assets/images/pu17.png" alt="fifteenth slide" style="width: 100vw; height: 100vh;">
        <div class="carousel-caption">
            <h1 class="font-weight-bold">Women are <span>MOTIVATED</span></h1>
            <p>She beleived she could so she did.</p>
        </div>
    </slide>
    <slide id="pic" class="carousel-fade">
        <img src="../../../assets/images/pu3.png" alt="sixteenth slide" style="width: 100vw; height: 100vh;">
        <div class="carousel-caption">
            <h1 class="font-weight-bold">Women are <span>COURAGEOUS</span></h1>
            <p>No one is you and that is your power.</p>
        </div>
    </slide>
    <slide id="pic" class="carousel-fade">
        <img src="../../../assets/images/pu8.png" alt="seventeenth slide" style="width: 100vw; height: 100vh;">
        <div class="carousel-caption">
            <h1 class="font-weight-bold">Women are <span>PASSIONATE</span></h1>
            <p>Be so good they can't ignore you.</p>
        </div>
    </slide>
</carousel>