<carousel>
    <slide id="pic">
        <img src="../../../assets/images/p5.jpg" alt="first slide" style="width: 100vw;height: auto;">
        <div class="carousel-caption">
            <h1>Title</h1>
            <p>Iris</p>
        </div>
    </slide>
    <slide id="pic">
        <img src="../../../assets/images/p10.jpg" alt="second slide" style="width: 100vw;height: auto;">
        <div class="carousel-caption">
            <h1 class="my-5 text-center">Title</h1>
            <p class="my-2 text-center">Iris</p>
        </div>
    </slide>
    <slide id="pic">
        <img src="../../../assets/images/p9.jpg" alt="third slide" style="width: 100vw;height: auto;">
        <div class="carousel-caption">
            <h1>Title</h1>
            <p>Iris</p>
        </div>
    </slide>
    <slide id="pic">
        <img src="../../../assets/images/p7.jpg" alt="fifth slide" style="width: 100vw;height: auto;">
        <div class="carousel-caption">
            <h1>Title</h1>
            <p>Iris</p>
        </div>
    </slide>
    <slide id="pic">
        <img src="../../../assets/images/p1.jpg" alt="sixth slide" style="width: 100vw;height: auto;">
        <div class="carousel-caption">
            <h1>Title</h1>
            <p>Iris</p>
        </div>
    </slide>
    <slide id="pic">
        <img src="../../../assets/images/p6.jpg" alt="seventh slide" style="width: 100vw;height: auto;">
        <div class="carousel-caption">
            <h1>Title</h1>
            <p>Iris</p>
        </div>
    </slide>
    <slide id="pic">
        <img src="../../../assets/images/p2.jpg" alt="eighth slide" style="width: 100vw;height: auto;">
        <div class="carousel-caption">
            <h1>Title</h1>
            <p>Iris</p>
        </div>
    </slide>
    <slide id="pic">
        <img src="../../../assets/images/p4.jpg" alt="ninenth slide" style="width: 100vw;height: auto;">
        <div class="carousel-caption">
            <h1>Title</h1>
            <p>Iris</p>
        </div>
    </slide>
    <slide id="pic">
        <img src="../../../assets/images/p11.jpg" alt="tenth slide" style="width: 100vw;height: auto;">
        <div class="carousel-caption">
            <h1>Title</h1>
            <p>Iris</p>
        </div>
    </slide>
    <slide id="pic">
        <img src="../../../assets/images/p3.jpg" alt="eleventh slide" style="width: 100vw;height: auto;">
        <div class="carousel-caption">
            <h1>Title</h1>
            <p>Iris</p>
        </div>
    </slide>
    <slide id="pic">
        <img src="../../../assets/images/p8.jpg" alt="eleventh slide" style="width: 100vw;height: auto;">
        <div class="carousel-caption">
            <h1>Title</h1>
            <p>Iris</p>
        </div>
    </slide>
</carousel>