
h1{
    text-align: center;
    font-size: xx-large;
    font-family:  'Libre Baskerville';
    text-shadow: rgba(0, 0, 0, 0.4);
}
p{
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    font-family: 'PT Serif';
    color: #ffe6ee;
    
}
#pic img {
    /* background: linear gradient(rgba(0, 0, 0, 0.96),rgba(0, 0, 0, 0.8));     */
    background-color: transparent;
    filter: brightness(50%);
}
span{
    color: #e6004c;
    text-shadow: rgba(0, 0, 0, 0.4);
}
.carousel-caption {
    background: rgba(0, 0, 0, 0.4);
    vertical-align: middle;
    text-align: center;
}
