<nav class="navbar navbar-transparent navbar-inverse fixed-top">
    <div class="container-fluid">
        <di class="nv ml-auto display:inline-block">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" routerLink="#" role="button"><i class="fa fa-user-plus"></i>Sign up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#" role="button"><i class="fa fa-sign-in"></i>Sign in</a>
            </li>
        </ul>
        </di>
    </div>
</nav>